.app-author-post--thumbnail {
  @media (max-width: $mobile) {
    padding: 1rem 1.25rem;

    background-color: $color-grouped-content-background;
    border-top: 1px solid $color-gray-300;
    border-bottom: 1px solid $color-gray-300;
    box-shadow: rgba(black, 0.025) 0 4px 16px;

    @if $dark-mode {
      border-top-color: #1e2227;
      border-bottom-color: #1e2227;
      box-shadow: rgba(black, 0.05) 0 1px 4px;
    }
  }
}

.app-author-post-item {
  position: relative;
  display: block;
  
  &__thumbnail {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    margin-bottom: 0.5rem;

    overflow: hidden;
    border-radius: 6px;
    background-color: $color-gray-300;

    & > ion-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--color-gray-500);
      font-size: 3em;
    }

    &::after,
    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &::after {
      content: "";
      z-index: 1;
      box-shadow: rgba(black, 0.025) 0 0 0 1px inset;
    }
    & > img {
      object-fit: cover;
      object-position: center;

      transition: 0.4s ease;
    }
  }


  &__title {
    font-size: 0.875rem;
    margin-right: 2px;
  }
  &__comment-count {
    color: var(--color-primary);
    font-size: 0.875rem;
    margin-right: 0.5rem;
  }

  &__date {
    display: block;
    color: $color-gray-700;
  }

  &:hover {
    .app-author-post-item__thumbnail > img {
      transform: scale(1.1);
    }
  }
}