<div class="app-board-title">
  <div class="tw-flex tw-items-center">
    <a cond="$module_info->list_board_title !== 'N'" class="tw-inline-block tw-font-medium tw-text-2xl tw-font-bold tw-mr-1" href="{getUrl('','mid',$mid)}">
  {sprintf(lang('blueberry.blueberry_mydata'),escape($logged_info->nick_name))}<!--//{$module_info->title ? $module_info->title : $module_info->browser_title}//--></a>

    <div class="tw-flex-1"></div>
    
    {@ // 글쓰기 버튼 }
    <a cond="$grant->add_data" href="{getUrl('act','dispBlueberryNCA','data_srl','')}" class="app-button app-button-rounded primary">
      <ion-icon name="add-outline"></ion-icon>
      <span>{lang('blueberry.cmd_new_nca')}</span>
    </a>
  </div>

  <p class="tw-text-sm tw-text-gray-700 tw-bt-1 app-board-description" cond="$module_info->dec">{$module_info->dec}</p>
</div>