<!--@if($module_info->article_file !== 'N')-->
<div style="flex: 0 0 auto;" cond="$oDocument->hasUploadedFiles()">
  <div class="app-dropdown">
    <a class="app-dropdown-toggle app-link">
      <ion-icon name="file-tray-outline"></ion-icon>
      <span>{$lang->uploaded_file} 파일 {$oDocument->get('uploaded_count')}개</span>
    </a>

    <div class="app-dropdown-menu app-right app-top" style="width: 230px;">
      <div class="tw-py-3 tw-px-6 tw-text-sm tw-font-bold tw-border-b tw-border-gray-300">{$lang->uploaded_file}</div>
      
      <ul class="tw-m-0">
        <li loop="$oDocument->getUploadedFiles()=>$key,$file">
          {@
            $path = pathinfo($file->source_filename);
            $ext = strtolower($path['extension']);
          }
  
          <a href="{getUrl('')}{$file->download_url}" title="{$file->source_filename} / Download {number_format($file->download_count)}">
            <div>
              <span>{$file->source_filename} ({FileHandler::filesize($file->file_size)})</span>
              <div class="tw-text-gray-700 tw-text-xs">(다운 횟수: {number_format($file->download_count)})</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--@end-->