<load cond="$module_info->article_signature !== 'N'" target="article-signature.scss" vars="$themeConfig->variables" />

<div cond="$module_info->article_signature !== 'N'" class="app-article-signature">
  
  <div class="app-article-signature__profile">
    {@ // 프로필 이미지 }
    <div class="app-avatar">
      <img cond="$oDocument->getProfileImage()" src="{$oDocument->getProfileImage()}" alt="Profile" />
      <img cond="!$oDocument->getProfileImage()" src="../../assets/images/ic_profile_default.png" alt="Profile" />
    </div>

    <div class="app-article-signature__profile-body">
      <a class="tw-inline-flex tw-items-center tw-font-bold tw-text-black tw-text-sm tw-mr-1 member_{$oDocument->get('member_srl')} author" href="#popup_menu_area" onclick="return false" style="color: #{$anony_random_color} !important;">{$oDocument->getNickName()}</a>
  
      <div cond="$module_info->article_signature_point !== 'N'">
        {@ 
          $oPointModel = getModel('point');
      
          $oModuleModel = &getModel('module');
          $config = $oModuleModel->getModuleConfig('point');
          $point = $oPointModel->getPoint($oDocument->get('member_srl'));
          $level = $oPointModel->getLevel($point, $config->level_step);
          $nextpoint = $config->level_step[$level+1];
          $prepoint = $config->level_step[$level];
          $percent = round(($point-$prepoint)/($nextpoint-$prepoint)*100);
        }
  
        <!-- <strong class="tw-text-primary">레벨. {$level}</strong>
        <span class="tw-text-gray-700">{$point}/{$nextpoint}</span>
          -->
  
          <div class="app-article-signature__point" title="포인트 {$point}/{$nextpoint} - {$percent}%">
          <div class="app-article-signature__point__level">레벨 {$level}</div>
          <div class="app-article-signature__point__container">
            <div class="app-article-signature__point__graph" style="width: {$percent}%"></div>
          </div>
          <div class="app-article-signature__point__message tw-flex">
            <div class="tw-flex-1">{$point}/{$nextpoint}</div>
            <div class="tw-pl-3 tw-text-black">{$percent}%</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="app-article-signature__content">
    <!-- <ul class="app-tab">
      <li class="active"> 
        <a>서명</a>
      </li>
      <li>
        <a class="">작성글</a>
      </li>
    </ul> -->

    <div class="app-custom-scroll">
      <div cond="$oDocument->getSignature()">{$oDocument->getSignature()}</div>
      <div cond="!$oDocument->getSignature()">서명이 없습니다.</div>
    </div>
  </div>
</div>