.app-article-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.app-article-toolbar {
  background-color: $color-gray-100;
  border-top: 1px solid $color-gray-200;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  .app-board-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}