<li class="notice" cond="$notice_list" loop="$notice_list=>$no,$document">
  <a href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}" class="tw-flex tw-items-start tw-flex-wrap">
    <block cond="$grant->manager">
      <input type="checkbox" name="cart" value="{$document->document_srl}" id="{$document->document_srl}" class="app-input-checkbox" title="Check This Article" onclick="doAddDocumentCart(this)" checked="checked"|cond="$document->isCarted()" />
      <label for="{$document->document_srl}"></label>
    </block>
    
    <!--@if($document->get('hot_document'))-->
    <span class="tw-text-danger tw-font-bold tw-mr-3">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="1.25rem" height="1.25rem">
        <path fill-rule="evenodd" d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" clip-rule="evenodd" />
      </svg>
    </span>
    <!--@else-->
    <span class="tw-text-primary tw-font-bold tw-mr-3">{$lang->notice}</span>
    <!--@end-->

    <div class="tw-flex-1">
      <span class="tw-font-bold tw-mr-3" cond="$category_list[$document->get('category_srl')]->title" style="color:{$category_list[$document->get('category_srl')]->color}"|cond="$category_list[$document->get('category_srl')]->color!='transparent'">{$category_list[$document->get('category_srl')]->title}</span>

      <span class="tw-mr-1">{$document->getTitle($module_info->list_title_limit)}</span>
    </div>
  </a>
</li>