<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants>
		<grant name="list" default="member">
			<title xml:lang="ko">목록 보기</title>
			<title xml:lang="en">View list</title>
		</grant>
		<grant name="add_data" default="member">
			<title xml:lang="ko">데이터 추가/삭제</title>
			<title xml:lang="en">Add/delete data</title>
		</grant>
		<grant name="view_data" default="member">
			<title xml:lang="ko">데이터 보기</title>
			<title xml:lang="en">View data</title>
		</grant>
		<grant name="manage_data" default="manager">
			<title xml:lang="ko">데이터 관리</title>
			<title xml:lang="en">Manage data</title>
		</grant>
	</grants>
	<actions>
		<action name="dispBlueberryContent" type="view" permission="view_data" standalone="false" index="true">
			<route route="data:$data_srl:int@$owner_id:word" priority="90" />
			<route route="page:$page:int/data:$data_srl:int@$owner_id:word" priority="100" />
			<route route="*$group_id:word" priority="90" />
			<route route="data:$data_srl:int@$owner_id:word*$group_id:word" priority="90" />
			<route route="page:$page:int/data:$data_srl:int@$owner_id:word*$group_id:word" priority="90" />
			<route route="@$owner_id:word" priority="90" />
			<route route="page:$page:int@$owner_id:word" priority="90" />
			<route route="page:$page:int*$group_id:word" priority="90" />
			
			<route route="category/$category_srl:int/search/$search_target:word/$search_keyword:any" priority="60" />
			<route route="category/$category_srl:int/search/$search_target:word/$search_keyword:any/page:$page:int" priority="60" />
			<route route="category/$category_srl:int@$owner_id:word::search/$search_target:word/$search_keyword:any" priority="60" />
			<route route="category/$category_srl:int/page:$page:int@$owner_id:word::search/$search_target:word/$search_keyword:any" priority="60" />
			
			<route route="search/$search_target:word/$search_keyword:any" priority="50" />
			<route route="search/$search_target:word/$search_keyword:any/page:$page:int" priority="50" />
			<route route="@$owner_id:word::search/$search_target:word/$search_keyword:any" priority="50" />
			<route route="@$owner_id:word::search/$search_target:word/$search_keyword:any/page:$page:int" priority="50" />
			
			<route route="category/$category_srl:int" priority="40" />
			<route route="category/$category_srl:int/page:$page:int" priority="40" />
			<route route="category/$category_srl:int@$owner_id:word" priority="40" />
			<route route="category/$category_srl:int/page:$page:int@$owner_id:word" priority="40" />
			
		</action>
		<action name="dispBlueberryNCA" type="view" permission="add_data" standalone="false" meta-noindex="true">
			<route route="nca" />
			<route route="nca@$owner_id:word" />
			<route route="nca/data:$data_srl:int@$owner_id:word" />
		</action>
		
		<action name="procBlueberryDeleteData" type="controller" permission="add_data" standalone="false" meta-noindex="true" />
		
		<action name="procBlueberryInsertData" type="controller" permission="add_data" standalone="false" meta-noindex="true" />
		
	</actions>

	<menus>
		<menu name="blueberry" type="all">
			<title xml:lang="en">Blueberry</title>
			<title xml:lang="ko">Blueberry</title>
		</menu>
	</menus>
</module>